    
@media screen and (max-width: 500px){

    header {
        justify-content: center;
        height:25vh;
        margin-bottom: 20px;
        padding: 15px;
    }
    header ul {
        /* flex-direction: column; */
        justify-content: center;
        flex-wrap: wrap;
    }
    header li,header a,footer li,.soan,.tel,h2{
        margin:9px;
    }
    footer {
        height:max-content;
        margin-top: 20px;
    }
    #foot-wrapper {
        flex-direction: column;
        
    }
    .midbody {
        flex-direction: column-reverse;
    }
    .midbody img {
        background-size: cover;
        width:70vw;
        height:40vh;
    }
    .midbody div{
        width:80vw;
    }
    h1 {
        text-align: center;
    }
    .midbody:nth-of-type(3){
        justify-content: center;
        align-items: center;
    }
    table {
        margin-right: 5px;
    }
    .midbody:nth-of-type(3) div:nth-of-type(2){
        margin-top: 5px;
    }
    .midbody:nth-of-type(3) div{
        font-size: 1em;
        line-height: 1.5;
        text-align: center;
        width: 80%;
    }
}

